body {
  text-align: left;
}

#hover-popup {
  display: none;
  position: fixed;
  max-width: 400px;
  overflow-wrap: anywhere;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 0.85em;
  pointer-events: none;
  transition: opacity 1s ease;
}
.top-right-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 15px;
}
.save-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
.save-button {
  background-color: #31312f;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  transition: all 0.5s ease-in-out;
}
.save-button:hover {
  background-color: #a6a5a5;
  color: #444;
}
#tree-content:first-child {
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
.node {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  width: max-content;
  content:"▽";
}
.node:hover {
  background-color: lightgray;
}
.favicon {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  margin-right: 6px;
  object-fit: contain;
}
.unvisited a {
  color: #333;
}
.note a {
  color: #78A392;
}
a {
  text-decoration: none;
  color: #333;
}

#current-branch-name {
  font-size: 16px;
  color: #2a543b;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  margin: 0;
}
