#header {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#title-content {
  display: flex;
  align-items: center;
}
img {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}
.return-button {
  background-color: #31312f;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 12px;
  font-weight: bold;
}
#card-container {
  background-color: #c7c8c9;
  padding: 5px;
}
.card {
  background-color: #9ca5a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.card-button-section {
  width: 150px;
  height: 50px;
  display: grid;
  grid-template-columns: 70px 70px;
  column-gap: 10px;
  grid-template-rows: 20px 20px;
  row-gap: 10px;
}
